.accountDetails {
    padding: 1em;
    line-height: 1;
    
    
    width: 30%;
    margin: 0 auto;
}

h4 {
    line-height: 1;
}

h3 {
    line-height: 1
}


/*Each Text + input combo in the form*/
.addressInfo div {
    display: flex;
    justify-content: space-between;
}
