.accountMenu {
    
    padding: 0;
}

#username {
    color: white;
    display: inline;
}

.accountMenu button{
    margin-left: 5px;
    background-color: black;
    color: white;
    font-size: 18pt;
    border: transparent;
    
}



button:focus {outline:0}

