#buyitem {
    padding: 1em;
    line-height: 1;
    text-align: left;
    background-color: black;
    font-size: 14pt
    

}

h4 {
    line-height: 1;
}

h3 {
    line-height: 1
}

textarea {
    width: 100%;
    margin-bottom: 1em;
    resize: none;
    
}

.updateInfosButton {
    position: absolute;
    right: 2em;
    text-align: right;
}

.purchaseInfo {
    padding: 1em;
}

/*Each Text + input combo in the form*/
.purchaseInfo div {
    display: flex;
    justify-content: space-between;
}
