.img2:hover{
  max-width: 26vw;
  background-color: #dddddd;
}


.filterButtons{
  position: relative;
  left: 65vw;
  background-color: white;
 }

#dropdownMenu2{
  background-color: white;
  color: black;
  border-radius: 5px;
  
  font-size: 20pt;
  position: relative;
  left: 80vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;

}
#dropdownMenu2:hover{
  background-color:black;
  color: white;
  border-radius: 5px;
  
  font-size: 20pt;
  position: relative;
  left: 80vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;

}

.parentOfColumns2 {

  display: flex;
  flex-flow: row wrap;
  position: relative;
  max-width: 100vw;

} 

.img2 {
  transition: all 0.2s ease-in;
  flex: 30%;
  height: auto;
  max-width: 25vw;

  border-radius: 15px;
  padding: 20px;
  
} 


.parentOfColumns{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 100vw;
  font-size: 30pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.menuBackground{
  background-color: white;
}

.img{
  width: 100%;
  display: block;
} 

.column{
  flex: 1;
  padding: 30px;
  display: flex;
}

.menu{
  /* background-color: black; */

  
  font-size: 30pt;
  color: white;
  flex: 1;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px;
}

.loginOrCreate{
  background-color: black;
  font-size: 15pt;
  color: white;
  flex: 1;
  text-align: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.carousel{
  width: 100%;
  /* max-width: 100vw; */
  height: 700px;
  display: block  
}

.parentOfHeaders{
  display: flex;
  max-width: 100vw;
  
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#dropdownMenuButton{
  color: white;
  font-size: 25pt;
  background-color: transparent;
  border: none;
  outline: none;
}

#dropdownMenuButton:hover{
color: black;
background-color: white;
font-size: 26pt;
}

.logo{
  width: 10%;
  background-color: black
}

.highlightHeadings{
  font-size: 30pt
}

.searchbar{
  border-radius: 20px;
  font-size: 20pt;
  text-align: center;
  outline: none;
}

.searchbutton{
font-size: 20pt;
background-color: green;
color: white;
border-radius: 20px;
}