 
.parentOfColumns2 {

  display: flex;
  flex-flow: row wrap;
  position: relative;
  max-width: 100vw;
} 

.img2 {

  flex: 30%;
  height: auto;
  max-width: 25vw;
} 


.parentOfColumns{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 100vw;
}

.img{
  width: 100%;
  display: block;
} 

.column{
  flex: 1;
  padding: 30px
}

.menu{
  background-color: black;
  font-size: 30pt;
  color: white;
  flex: 1;
  text-align: center;
  font-family: Yatra One
}

.loginOrCreate{
  background-color: black;
  font-size: 15pt;
  color: white;
  flex: 1;
  text-align: right;
  font-family: Yatra One
}

.carousel{
  width: 100%;
  /* max-width: 100vw; */
  height: 700px;
  display: block  
}

.parentOfHeaders{
  display: flex;
}

#dropdownMenuButton{
  color: white;
  font-size: 25pt;
  background-color: black;
  border: transparent
}

.logo{
  width: 10%;
  background-color: black
}



