.header {
    width: 100%;
}

.title {
    width: 50%;
    margin: 0;
    color: white;
    font-family: cursive
}

.topRow {
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}

.accountMenu {
    float: right;
}

.logo2{
    position: relative;
    animation: logo 3s infinite linear;
    animation-iteration-count: 1;
    width: 9vw;

}

@keyframes logo{
    from{
        left:400px;
    }
    to{
        left:0px;
    }
}