.header {
    width: 100%;
}

.title {
    width: 50%;
    margin: 0;
    color: white;
    font-family: cursive
}

.topRow {
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}

.accountMenu {
    float: right;
}

.logo2{
    width: 9vw;
}